.sidebar {
  background-color: black;
  color: white;
  flex-basis: 15%;
  flex-shrink: 0;
  flex-grow: 0;
  min-height: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    padding-inline-end: 0;
    padding-inline-start: 10px;
  }
}
