.editor {
  flex-basis: 40%;
  max-width: 40%;
  height: 100vh;
  margin-left: 5px;

  .textarea {
    overflow-wrap: break-word;
    margin: 0;
    height: 100vh;
    border-right: 1px solid #d8d8d8;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
